<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BookTranslatorAuthorMapper">
  <select id="selectCountByBookId" resultType="java.lang.Integer">
    select count(*) from t_book_translator_author where book_id = #{bookId}
  </select>
  <insert id="insertBatch">
    insert into t_book_translator_author (book_id, translator_author_id)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.bookId},#{item.translatorAuthorId})
    </foreach>
  </insert>
</mapper>