<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AlsoLikeMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.AlsoLike">
    <id column="also_like_id" jdbcType="INTEGER" property="alsoLikeId" />
    <result column="also_like_name" jdbcType="VARCHAR" property="alsoLikeName" />
  </resultMap>
  <sql id="Base_Column_List">
    also_like_id, also_like_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_also_like
    where also_like_id = #{alsoLikeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_also_like
    where also_like_id = #{alsoLikeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.AlsoLike">
    insert into t_also_like (also_like_id, also_like_name)
    values (#{alsoLikeId,jdbcType=INTEGER}, #{alsoLikeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.AlsoLike">
    insert into t_also_like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="alsoLikeId != null">
        also_like_id,
      </if>
      <if test="alsoLikeName != null">
        also_like_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="alsoLikeId != null">
        #{alsoLikeId,jdbcType=INTEGER},
      </if>
      <if test="alsoLikeName != null">
        #{alsoLikeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.AlsoLike">
    update t_also_like
    <set>
      <if test="alsoLikeName != null">
        also_like_name = #{alsoLikeName,jdbcType=VARCHAR},
      </if>
    </set>
    where also_like_id = #{alsoLikeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.AlsoLike">
    update t_also_like
    set also_like_name = #{alsoLikeName,jdbcType=VARCHAR}
    where also_like_id = #{alsoLikeId,jdbcType=INTEGER}
  </update>
</mapper>