<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BookOriginalAuthorParMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.BookOriginalAuthor">
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="original_author_id" jdbcType="INTEGER" property="originalAuthorId" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.model.BookOriginalAuthor">
    insert into t_book_original_author (book_id, original_author_id)
    values (#{bookId,jdbcType=INTEGER}, #{originalAuthorId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.BookOriginalAuthor">
    insert into t_book_original_author
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        book_id,
      </if>
      <if test="originalAuthorId != null">
        original_author_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="originalAuthorId != null">
        #{originalAuthorId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>