<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SeriesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.Series">
    <id column="series_id" jdbcType="INTEGER" property="seriesId" />
    <result column="series_name" jdbcType="VARCHAR" property="seriesName" />
  </resultMap>
  <sql id="Base_Column_List">
    series_id, series_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_series
    where series_id = #{seriesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_series
    where series_id = #{seriesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Series">
    insert into t_series (series_id, series_name)
    values (#{seriesId,jdbcType=INTEGER}, #{seriesName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Series">
    insert into t_series
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seriesId != null">
        series_id,
      </if>
      <if test="seriesName != null">
        series_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seriesId != null">
        #{seriesId,jdbcType=INTEGER},
      </if>
      <if test="seriesName != null">
        #{seriesName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Series">
    update t_series
    <set>
      <if test="seriesName != null">
        series_name = #{seriesName,jdbcType=VARCHAR},
      </if>
    </set>
    where series_id = #{seriesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Series">
    update t_series
    set series_name = #{seriesName,jdbcType=VARCHAR}
    where series_id = #{seriesId,jdbcType=INTEGER}
  </update>
</mapper>